<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <title>Fujita lab. Sample</title>
</head>


<body>
    <header>
        <h1 id="header-text">Routing Page</h1>
    </header>
    <div id="route-table" class="content-box">
        <h1 class="content-title"> Routing Table </h1>
        <div class="content">
            <ul>
                <li> <a href="/map">Mapbox Map</a> </li>
            </ul>
        </div>
    </div>

    <script type="module" src="/js/index.js"></script>
</body>

</html>